# Project exclude paths
/bouncy-castle/bc/target/
/bouncy-castle/bcfips/target/
/bouncy-castle/bcfips-include-test/target/
/bouncy-castle/target/
/buildtools/target/
/jclouds-shaded/target/
/kafka-connect-avro-converter-shaded/target/
/managed-ledger/target/
/pulsar-broker/target/
/pulsar-broker-auth-athenz/target/
/pulsar-broker-auth-sasl/target/
/pulsar-broker-common/target/
/pulsar-broker-shaded/target/
/pulsar-client/target/
/pulsar-client-1x-base/pulsar-client-1x/target/
/pulsar-client-1x-base/pulsar-client-2x-shaded/target/
/pulsar-client-1x-base/target/
/pulsar-client-admin/target/
/pulsar-client-admin-api/target/
/pulsar-client-admin-shaded/target/
/pulsar-client-all/target/
/pulsar-client-api/target/
/pulsar-client-auth-athenz/target/
/pulsar-client-auth-sasl/target/
/pulsar-client-messagecrypto-bc/target/
/pulsar-client-shaded/target/
/pulsar-client-tools/target/
/pulsar-client-tools-test/target/
/pulsar-common/target/
/pulsar-config-validation/target/
/pulsar-functions/api-java/target/
/pulsar-functions/instance/target/
/pulsar-functions/java-examples/target/
/pulsar-functions/localrun/target/
/pulsar-functions/localrun-shaded/target/
/pulsar-functions/proto/target/
/pulsar-functions/runtime/target/
/pulsar-functions/runtime-all/target/
/pulsar-functions/secrets/target/
/pulsar-functions/target/
/pulsar-functions/utils/target/
/pulsar-functions/worker/target/
/pulsar-io/aerospike/target/
/pulsar-io/aws/target/
/pulsar-io/batch-data-generator/target/
/pulsar-io/batch-discovery-triggerers/target/
/pulsar-io/canal/target/
/pulsar-io/cassandra/target/
/pulsar-io/common/target/
/pulsar-io/core/target/
/pulsar-io/data-generator/target/
/pulsar-io/debezium/mongodb/target/
/pulsar-io/debezium/mssql/target/
/pulsar-io/debezium/mysql/target/
/pulsar-io/debezium/oracle/target/
/pulsar-io/debezium/postgres/target/
/pulsar-io/docs/target/
/pulsar-io/dynamodb/target/
/pulsar-io/elastic-search/target/
/pulsar-io/file/target/
/pulsar-io/flume/target/
/pulsar-io/hbase/target/
/pulsar-io/hdfs2/target/
/pulsar-io/hdfs3/target/
/pulsar-io/influxdb/target/
/pulsar-io/jdbc/clickhouse/target/
/pulsar-io/jdbc/core/target/
/pulsar-io/jdbc/mariadb/target/
/pulsar-io/jdbc/postgres/target/
/pulsar-io/jdbc/sqlite/target/
/pulsar-io/kafka/target/
/pulsar-io/kafka-connect-adaptor-nar/target/
/pulsar-io/kinesis/target/
/pulsar-io/mongo/target/
/pulsar-io/netty/target/
/pulsar-io/nsq/target/
/pulsar-io/rabbitmq/target/
/pulsar-io/redis/target/
/pulsar-io/solr/target/
/pulsar-io/target/
/pulsar-io/twitter/target/
/pulsar-metadata/target/
/pulsar-package-management/bookkeeper-storage/target/
/pulsar-package-management/core/target/
/pulsar-package-management/filesystem-storage/target/
/pulsar-package-management/target/
/pulsar-proxy/target/
/pulsar-sql/presto-distribution/target/
/pulsar-sql/presto-pulsar/target/
/pulsar-sql/presto-pulsar-plugin/target/
/pulsar-sql/target/
/pulsar-testclient/target/
/pulsar-transaction/common/target/
/pulsar-transaction/coordinator/target/
/pulsar-transaction/target/
/pulsar-websocket/target/
/pulsar-zookeeper-utils/target/
/structured-event-log/target/
/target/
/testmocks/target/
/tests/pulsar-client-admin-shade-test/target/
/tests/pulsar-client-shade-test/target/
/tiered-storage/file-system/target/
/tiered-storage/jcloud/target/
/tiered-storage/target/